
<nav class="navbar navbar-expand-lg navbar-custom border-bottom border-body" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">GamerHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/games">Games</a>
            </li>
        </ul>
    </div>
    {{#if currentUser}}
    <div class="dropdown">
      
        <img class="rounded-circle border border-2 object-fit-cover" src="{{currentUser.image}}" type="button" alt="Logo" data-bs-toggle="dropdown" width="45" height="45"/>
      
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="/profile">See profile</a></li>
        <li>
          <form action="/logout" method="POST">
            <button class="dropdown-item">Logout</button>
          </form>
        </li>
      </ul>
    </div>
    {{else}}
    <div>
        <a href="/login" type="button" class="btn btn-link mx-1 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Log in</a>   
        <a href="/signup" type="button" class="btn btn-success">Sign up</a>
    </div>
    {{/if}}
  </div>
</nav>
