* {
    font-family: montserrat;
}

body {
    background-color:#1C1C1C;
}

h1, h2, h3, h4, h5 {
    color: #f5f5f5;
}

p {
    color: #f5f5f5;
}

.ms-n5 {
    margin-left: -38px;
}

form {
    color: #f5f5f5 !important;
}

:placeholder-shown {
    color: #f5f5f5 !important;
}

input, textarea {
    color: #f5f5f5 !important;
    background-color: #262626 !important;
}

label {
    color:rgb(132, 132, 132) !important;
    background-color: #10101400 !important;
}

.navbar-custom {
    background-color: #101014;
    border-bottom: 0px #101014 !important;
}

.btn-primary {
    background-color: #0074e4;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 20px 0 20px 0;
}

.btn-primary:hover {
    background-color: #0988ff
}

.btn-primary-card {
    background-color: #0074e4;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    color:#f5f5f5;
    width: 40px !important;
    border-radius: 40px;
}

.btn-primary-card:hover {
    background-color: #0988ff;
    color:#f5f5f5;
}

.btn-primary-post {
    background-color: #0074e4;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 12px 0 12px 0;
    width: 75%;
    color:#f5f5f5;
    border-radius: 10px;
}

.btn-primary-post:hover {
    background-color: #0988ff;
    color:#f5f5f5;
}

.btn-danger-card {
    background-color: #dc3545;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    width: 75%;
    color:#f5f5f5
}

.btn-danger-card:hover {
    background-color: #dd4857;
    color:#f5f5f5
}

.btn-outline-light {
    border-color: #f5f5f5;
    color: #f5f5f5;
    background-color: #ffffff00;
}

.btn-outline-light-circle {
    border-color: #f5f5f5;
    border-radius: 100%;
    color: #f5f5f5;
    background-color: #ffffff00;
}

.btn-outline-light:hover {
    border-color: #f5f5f5;
    color: #f5f5f5;
    background-color: #ffffff39;
}

.btn-outline-light-card {
    border-color: #f5f5f5;
    color: #f5f5f5;
    background-color: rgb(33, 33, 33);
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    width: 40px !important;
    border-radius: 40px;
}

.btn-outline-light-card:hover {
    border-color: #f5f5f5;
    color: #f5f5f5;
    background-color: rgb(42, 42, 42);
    
}

.btn-outline-primary {
    width:fit-content;
}

.btn-comment {
    background-color: #10101400;
    color:#d0d0d0;
    padding: 15px 0 15px 0;
}
.btn-comment:hover {
    color:#f5f5f5
}

.upper {
    text-transform: uppercase;
}

hr {
    color: #f5f5f5;
    max-width: 80%;
    margin:auto;
}

.left-line {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.games-list-img {
    border-radius: 15px;
    max-width: 330px;
}

.text-truncate-container p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-container h5 {
    -webkit-line-clamp: 1;
    max-width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.nav-link {
    color:#f5f5f59e;
}

.nav-link:hover {
    color:#f5f5f5; 
}

.fa-search {
    color:#f5f5f5;
}

.bg-search {
    background-color: #262626;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 50px;
}



.form-control::placeholder {
    color:#f5f5f585 !important;
}

.dropdown-menu-dark {
    background-color: #1b1b22;
    border-color: #1b1b22 !important;
    margin-top: 10% !important;
    -webkit-box-shadow: -4px 6px 17px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: -4px 6px 17px 0px rgba(0,0,0,0.55);
    box-shadow: -4px 6px 17px 0px rgba(0,0,0,0.55);
}

.list-group-item-dark {
    background-color:#1C1C1C;
    border: 0px;
}

.list-group-item-dark:hover {
    background-color:#343434;
    border: 0px;
}

.max-elements:nth-of-type(n+7) {
    display:none;
}

.modal-content {
    background-color:#343434;
}

.modal-header {
    border-color: #565656;
}

.modal-footer {
    border-color: #565656;
    width: 100%;
}

.max-elements-feed:nth-of-type(n+12) {
    display:none;
}

.nav-item-navbar {
    width: 70px !important;
    border-radius: 10px;
    padding: 3px 0 3px 0;
}

.nav-item-navbar a{
    width:70px !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item-navbar:hover {
    width:70px !important;
    background-color: #ffffff39;
}

.offcanvas-header {
    background-color: #101014;
    border: 0px #101014 !important;
}

.offcanvas-body {
    background-color:#1C1C1C;
}

.user-navbar {
    background-color:#f5f5f500; 
    padding: 2px 2px 2px 10px;
}

.user-navbar:hover {
    background-color:#f5f5f554; 
    padding: 2px 2px 2px 10px;
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: #1a1a1a;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #0074e4;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

::-webkit-scrollbar-corner {
    background: #202020;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.img__wrap {
  position: relative;
  display: inline-block;
}

.img__img {
  vertical-align: bottom;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0076e493;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  text-align: center;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}