h1, h2, h3, h4, h5 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

.ms-n5 {
    margin-left: -38px;
}

form, input {
    color: white !important;
}

label {
    color:rgb(132, 132, 132) !important;
}