{{>navbar}}

<div class="input-group container my-3">
    <input class="form-control bg-search border-end-0 rounded-pill" style="padding-left:30px" type="search" value="Search" id="example-search-input">
    <span class="input-group-append">
        <button class="btn btn-dark bg-icon-search border-bottom-0 rounded-pill ms-n5" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>

<div class="container">
    <div class="card-header">
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link active" style="color:white" href="#">All games</a>
            </li>
            <li class="nav-item-secondary">
                <a class="nav-link" href="#">Your games</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="container my-3">
            <div class="row justify-content-around">
                {{#each games}}
                <div class="col-3">
                    <div class="my-3">
                        <div class="card mb-3" style="">
                            <img src="{{thumbnail}}" class="card-img-top" alt="...">
                            <div class="card-body text-truncate-container">
                                <h5 class="">{{title}}</h5>
                                <p class="card-text">{{short_description}}</p>
                                <a href="/games/{{_id}}" class="btn btn-primary-card">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>