{{>navbar}}

<div class="container my-3">
    <h1>Sign up</h1>
</div>

<form class="container" action="/login" method="POST">
    <div class="form-floating mb-3">
        <input type="text" name="username" value="{{user.username}}" class="form-control {{#if errors.username}} is-invalid {{/if}}" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Username</label>
        {{#if errors.username}}<div class="invalid-feedback">{{errors.username}}</div>{{/if}}
    </div>
    <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        {{#if errors.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
