{{>navbar}}

<div class="container">
    <h1>¡Regístrate!</h1>
</div>

<form>
    <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Name">
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="lastName" class="form-control" id="floatingInput" placeholder="Last Name">
        <label for="floatingInput">Last name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="phone" class="form-control" id="floatingInput" placeholder="123456789">
        <label for="floatingInput">Phone number</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>