{{>navbar}}
 
<div class="container my-3">
    <div class="row justify-content-around">
        <div class="d-flex justify-content-between my-4">
            <h1>Noticias recientes</h1>
            <div class="col-6">
                <input class="form-control bg-search rounded-pill" placeholder="Search" style="padding-left:30px" id="searchInput" type="text">
            </div>
        </div>
        {{#each news as |content|}}
                <div class="list-group my-3 game-results col-4">
                    <a href="/news/{{_id}}" class="list-group-item list-group-item-dark" aria-current="true">
                    <div class="w-100 justify-content-left gap-3">
                        <div class="w-100">
                            <img style="border-radius: 8px" class="w-100" src="{{content.main_image}}"/>
                        </div>
                        <div class="text-truncate-container my-4">
                            <h5 class="mb-1">{{content.title}}</h5>
                            <p>{{content.short_description}}</p>
                        </div>
                    </div>
                    </a>
                </div>
        {{/each}}
    </div>
</div>
